[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = http://github.com/tpope/vim-markdown.git
[submodule "bundle/pastie"]
	path = bundle/pastie
	url = http://github.com/tpope/vim-pastie.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = http://github.com/ervandew/supertab.git
[submodule "bundle/omnicppcomplete"]
	path = bundle/omnicppcomplete
	url = http://github.com/MasterKey/OmniCppComplete.git
